*{
    margin:0;
    padding:0;
    font-family: Rubik;
}
.photo{
    margin:auto;
    width:600px;
    background-color: white;
    margin-top:75px;
}
body{
    background-color: lightgrey;
}
.header{
    width:100%;
    background-color:white;
    height: 75px;
    margin: 0;
}
.title{
    position:abolute;
    margin:auto;
    width: 600px;
    height:75px;
}
h1{
    position:relative;
    top:25%;
}

.pictitle{
    display:flex;
    height: 50px;
    position:abolute;
}
.pictitle p{
    color: grey;
    position:relative;
    top:25%;
}
.pictitle h3{
    width:540px;
    position:relative;
    top:25%;
    margin-left:10px;
}
.picture img{
    object-fit: cover;
    width: 600px;
}
.picfoot{
    height:75px;
    text-align:left;
    width:600px;
}
.picfoot p{
    position:relative;
    top:25%;
    font-size:medium;
    padding-left: 20px;
}
#Last{
    margin-bottom:75px;
}
.picture{
    border-bottom: solid lightgrey thin;
    border-top: solid lightgrey thin;
}